sharp-and-clean-barbershop/SC - FAQ.json
{
  "name": "SC - FAQ",
  "nodes": [
    {
      "parameters": {
        "promptType": "=define",
        "text": "={{ $json.question || \"The customer needs help but no specific question was provided.\" }}\n\n",
        "options": {
          "systemMessage": "[system prompt redacted]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "c3e083e0-39d4-41cd-9529-e599db0af52c",
      "name": "FAQ Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "6385aeb9-98ae-4952-8981-2a7ffbcaa9b7",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "tKupxyvlamegvGCk",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "question"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "a3d45b66-43fe-4082-9b5b-c050e31d511d",
      "name": "Answer Call From Orchestrator"
    }
  ],
  "pinData": {},
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "FAQ Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer Call From Orchestrator": {
      "main": [
        [
          {
            "node": "FAQ Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "eAreJSew25krScJo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "854a22da-de0f-4a50-8e42-cc1ccaa7024e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1aa19332ca1193abf1eb37f891be597bc690c7ea156301581f391184f7eb4652"
  },
  "id": "bjbHr7w74AoFc0rZ",
  "tags": []
}