sharp-and-clean-barbershop/SC - Escalate.json
{
  "name": "SC - Escalate",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "cc444f44-7f3a-4a45-83e4-db03f9663723",
      "name": "When Executed by Orchestrator"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "399ede1b-eb9d-4572-a6fd-e5ce083b3606",
              "name": "response",
              "value": "Escalation sent to Tony. The customer has been told someone will follow up with them.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "7badd6fd-e5d2-4e03-a905-b0e827df4b07",
      "name": "Edit Fields",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "carnoldbuildstech@gmail.com",
        "subject": "Customer Escalation — Sharp & Clean",
        "emailType": "text",
        "message": "=REASON: {{ $json.reason }}  CUSTOMER: {{ $json.customer_name }} CONTACT: {{ $json.contact_info }}  CONVERSATION: {{ $json.context }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "ae04026d-e456-40a2-bd7a-d608dc349e4c",
      "name": "Message to Tony",
      "webhookId": "9a619f92-e13b-4934-9760-1b45e99a76d5",
      "credentials": {
        "gmailOAuth2": {
          "id": "v0Gl4rtl3IvxYszy",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Orchestrator": {
      "main": [
        [
          {
            "node": "Message to Tony",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message to Tony": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "eAreJSew25krScJo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "cf4486ed-bc1d-4549-993d-e7dbb96c9c13",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1aa19332ca1193abf1eb37f891be597bc690c7ea156301581f391184f7eb4652"
  },
  "id": "dknjlI06OW99on5i",
  "tags": []
}