sharp-and-clean-barbershop/SC - Book.json
{
  "name": "SC - Book",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "service"
            },
            {
              "name": "requested_datetime"
            },
            {
              "name": "customer_name"
            },
            {
              "name": "customer_email"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        16
      ],
      "id": "0a773f27-e2a2-4a6c-8acb-ea8618c023f1",
      "name": "When Executed by Orchestrator"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "7ecdadad-7333-4170-adb1-c3db511d595d",
              "leftValue": "={{ Object.values($json.calendars)[0].busy.length }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        16
      ],
      "id": "4ce6a610-ab63-43ee-b49e-005f203e154f",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('When Executed by Orchestrator').item.json.customer_email }}",
        "subject": "Your appointment at Sharp & Clean is confirmed",
        "message": "=<p>Hi {{ $('When Executed by Orchestrator').item.json.customer_name }},</p>\n\n<p>Your appointment is confirmed!</p>\n\n<p>\n  <strong>Service:</strong> {{ $('When Executed by Orchestrator').item.json.service }}<br>\n  <strong>Date & Time:</strong> {{ DateTime.fromISO($('When Executed by Orchestrator').item.json.requested_datetime, {zone: 'America/New_York'}).toFormat('MMMM d, yyyy \\'at\\' h:mm a') }} ET\n</p>\n\n<p>We look forward to seeing you!</p>\n\n<p>— Sharp & Clean Barbershop</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        -80
      ],
      "id": "def6d539-6bbe-4668-91df-5289842ec56b",
      "name": "Customer Confirmation Messege",
      "webhookId": "3e304c1d-f097-4ce1-b71e-610163f5433b",
      "credentials": {
        "gmailOAuth2": {
          "id": "v0Gl4rtl3IvxYszy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3322ac0e-88ba-4b18-b959-52c35d000de2",
              "name": "response",
              "value": "Your appointment is confirmed! A confirmation email has been sent to you.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -80
      ],
      "id": "705dff87-5e5d-4feb-8882-d4bfa69d2408",
      "name": "Return Confirmed Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1c159fd-596a-4534-9ec7-72f030e72cd5",
              "name": "response",
              "value": "That time slot is not available. Please let the customer know and ask them to suggest another date and time — then check availability again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        112
      ],
      "id": "baf500cd-359a-4ba7-a124-938730b2bb10",
      "name": "Return Unavaliable Message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/freeBusy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"timeMin\": \"{{ DateTime.fromISO($json.requested_datetime).toISO() }}\",\n  \"timeMax\": \"{{ DateTime.fromISO($json.requested_datetime).plus({hours: 1}).toISO() }}\",\n  \"items\": [{\"id\": \"ffd435b5a4db95e1fa08147695a5b9baf2004ae901bbb64237978256fec73a73@group.calendar.google.com\"}]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        112
      ],
      "id": "25556ba9-0314-4fcc-ac8b-fcbc118dda24",
      "name": "Check Schedule",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "055IqqNJ3qXTyG4D",
          "name": "Sharp and clean calendar"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/calendars/ffd435b5a4db95e1fa08147695a5b9baf2004ae901bbb64237978256fec73a73%40group.calendar.google.com/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"summary\": \"{{ $('When Executed by Orchestrator').item.json.service }} — {{ $('When Executed by Orchestrator').item.json.customer_name }}\",\n  \"description\": \"Booking for {{ $('When Executed by Orchestrator').item.json.customer_name }}\\nService: {{ $('When Executed by Orchestrator').item.json.service }}\\nEmail: {{ $('When Executed by Orchestrator').item.json.customer_email }}\",\n  \"start\": {\n    \"dateTime\": \"{{ DateTime.fromISO($('When Executed by Orchestrator').item.json.requested_datetime, {zone: 'America/New_York'}).toISO() }}\",\n    \"timeZone\": \"America/New_York\"\n  },\n  \"end\": {\n    \"dateTime\": \"{{ DateTime.fromISO($('When Executed by Orchestrator').item.json.requested_datetime, {zone: 'America/New_York'}).plus({hours: 1}).toISO() }}\",\n    \"timeZone\": \"America/New_York\"\n  },\n  \"attendees\": [\n    {\n      \"email\": \"{{ $('When Executed by Orchestrator').item.json.customer_email }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        -48
      ],
      "id": "2b8be058-4b95-4bf5-a06f-52bd4ed1f9cf",
      "name": "Create Appoinment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "055IqqNJ3qXTyG4D",
          "name": "Sharp and clean calendar"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Orchestrator": {
      "main": [
        [
          {
            "node": "Check Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create Appoinment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Unavaliable Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Confirmation Messege": {
      "main": [
        [
          {
            "node": "Return Confirmed Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Schedule": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Appoinment": {
      "main": [
        [
          {
            "node": "Customer Confirmation Messege",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "eAreJSew25krScJo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "05d8ed27-1a53-471f-948e-6aedbaf40b14",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1aa19332ca1193abf1eb37f891be597bc690c7ea156301581f391184f7eb4652"
  },
  "id": "UEVgqV8eZS2DG6F7",
  "tags": []
}