arnold-towing-inquiry-responder/Arnold Towing - Customer Inquiry Responder.json
{
  "name": "Arnold Towing - Customer Inquiry Responder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3d13d3b2-c40a-4e3d-880b-02d21983e996",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e17eab15-554f-423a-b154-243032f97bf9",
      "name": "Webhook",
      "webhookId": "3d13d3b2-c40a-4e3d-880b-02d21983e996"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a dispatcher for Arnold Towing and Recovery in Syracuse, NY. A customer has submitted a service request.\n\nCustomer Details:\n- Name: {{ $('Webhook').item.json.body.data.fields[0].value }}\n- Phone: {{ $('Webhook').item.json.body.data.fields[1].value }}\n- Location: {{ $('Webhook').item.json.body.data.fields[3].value }}\n- Request: {{ $('Webhook').item.json.body.data.fields[4].value }}\n\nWrite a short urgent dispatch alert for the Arnold Towing team. Include the customer's name, phone number, location, and what they need. Keep it under 4 sentences. End with \"CALL IMMEDIATELY.\"\n",
        "options": {
          "systemMessage": "You are the automated dispatch system for Arnold Towing and Recovery, a professional towing and repossession company based in Syracuse, NY. You handle urgent customer service requests. Customers contacting you are often stressed or stranded — your tone must be calm, professional, and reassuring. Always treat every request as urgent. Never make up ETAs or specific pricing.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "14709490-b8d9-438d-96cb-8254e81a88d2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "8d4ab683-1fd9-4d68-a6b2-d8696144539f",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "tKupxyvlamegvGCk",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "carnoldbuildstech@gmail.com",
        "subject": "=🚨 INCOMING TOWING REQUEST - {{ $('Webhook').item.json.body.data.fields[0].value }} - CALL NOW\n",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "20fd4d05-52ca-436b-a11d-94efdefaf32b",
      "name": "Send a message",
      "webhookId": "ce92cbb1-9a9e-4781-851c-686173e904ba",
      "credentials": {
        "gmailOAuth2": {
          "id": "v0Gl4rtl3IvxYszy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.data.fields[2].value }}\n",
        "subject": "=Arnold Towing and Recovery - We're On It, {{ $('Webhook').item.json.body.data.fields[0].value }}!\n",
        "emailType": "text",
        "message": "=Hi {{ $('Webhook').item.json.body.data.fields[0].value }},\n\nWe received your towing request at {{ $('Webhook').item.json.body.data.fields[3].value }}. A member of the Arnold Towing team will call you at {{ $('Webhook').item.json.body.data.fields[1].value }} within 10 minutes.\n\nThank you for choosing Arnold Towing and Recovery - Syracuse, NY.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "67f92711-3b32-4772-a942-af3256a70366",
      "name": "Send a message1",
      "webhookId": "d3901090-0cac-4fd2-a44d-cbf4b487109d",
      "credentials": {
        "gmailOAuth2": {
          "id": "v0Gl4rtl3IvxYszy",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "85907a76-eaf9-47a6-8e52-2fe1550a7832",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1aa19332ca1193abf1eb37f891be597bc690c7ea156301581f391184f7eb4652"
  },
  "id": "wvH8DFNyvReuRvUJ",
  "tags": []
}