arnold-towing-inquiry-responder/Arnold Towing - Customer Inquiry Responder.json
{
  "name": "Arnold Towing - Customer Inquiry Responder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3d13d3b2-c40a-4e3d-880b-02d21983e996",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        16
      ],
      "id": "e17eab15-554f-423a-b154-243032f97bf9",
      "name": "Webhook",
      "webhookId": "3d13d3b2-c40a-4e3d-880b-02d21983e996"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a dispatcher for Arnold Towing and Recovery in Syracuse, NY. A customer has submitted a service request.\n\nCustomer Details:\n- Name: {{ $('Webhook').item.json.body.data.fields[0].value }}\n- Phone: {{ $('Webhook').item.json.body.data.fields[1].value }}\n- Location: {{ $('Webhook').item.json.body.data.fields[3].value }}\n- Request: {{ $('Webhook').item.json.body.data.fields[4].value }}\n\nWrite a short urgent dispatch alert for the Arnold Towing team. Include the customer's name, phone number, location, and what they need. Keep it under 4 sentences. End with \"CALL IMMEDIATELY.\"\n",
        "options": {
          "systemMessage": "You are the automated dispatch system for Arnold Towing and Recovery, a professional towing and repossession company based in Syracuse, NY. You handle urgent customer service requests. Customers contacting you are often stressed or stranded — your tone must be calm, professional, and reassuring. Always treat every request as urgent. Never make up ETAs or specific pricing.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "14709490-b8d9-438d-96cb-8254e81a88d2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -240,
        288
      ],
      "id": "8d4ab683-1fd9-4d68-a6b2-d8696144539f",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "tKupxyvlamegvGCk",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "carnoldbuildstech@gmail.com",
        "subject": "=🚨 INCOMING TOWING REQUEST - {{ $('Webhook').item.json.body.data.fields[0].value }} - CALL NOW\n",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "20fd4d05-52ca-436b-a11d-94efdefaf32b",
      "name": "Send a message",
      "webhookId": "ce92cbb1-9a9e-4781-851c-686173e904ba",
      "credentials": {
        "gmailOAuth2": {
          "id": "v0Gl4rtl3IvxYszy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.data.fields[2].value }}\n",
        "subject": "=Arnold Towing and Recovery - We're On It, {{ $('Webhook').item.json.body.data.fields[0].value }}!\n",
        "emailType": "text",
        "message": "=Hi {{ $('Webhook').item.json.body.data.fields[0].value }},\n\nWe received your towing request at {{ $('Webhook').item.json.body.data.fields[3].value }}. A member of the Arnold Towing team will call you at {{ $('Webhook').item.json.body.data.fields[1].value }} within 10 minutes.\n\nThank you for choosing Arnold Towing and Recovery - Syracuse, NY.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "67f92711-3b32-4772-a942-af3256a70366",
      "name": "Send a message1",
      "webhookId": "d3901090-0cac-4fd2-a44d-cbf4b487109d",
      "credentials": {
        "gmailOAuth2": {
          "id": "v0Gl4rtl3IvxYszy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "d9228be7-d9df-4f22-96c7-e1dc51718e27",
              "leftValue": "={{ new Date().getHours() }}\n",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "d1ebf323-eaa6-461a-a086-922e1d9c4bbc",
              "leftValue": "={{ new Date().getHours() }}",
              "rightValue": 19,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        16
      ],
      "id": "0ebf8560-f821-49d8-8944-fcb2d0a704a2",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.data.fields.find(f => f.label === 'Email Address').value }}\n\n",
        "subject": "Thank you for contacting Arnold Towing",
        "emailType": "text",
        "message": "Thank you for reaching out to Arnold Towing!  We received your inquiry but our office is currently closed. Our hours are Monday–Friday, 7am–7pm.  We will contact you first thing when we reopen. If this is a roadside emergency, please call us directly at 315-667-2546.  — Arnold Towing Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        400,
        288
      ],
      "id": "f096e852-88cc-4a30-bfe1-023df6ba3fe6",
      "name": "Send a message2",
      "webhookId": "1985969c-b713-42f8-84cb-e88328f7aca3",
      "credentials": {
        "gmailOAuth2": {
          "id": "v0Gl4rtl3IvxYszy",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "eAreJSew25krScJo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "6d56b8f8-b800-4684-99a3-591bb4c6d5ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1aa19332ca1193abf1eb37f891be597bc690c7ea156301581f391184f7eb4652"
  },
  "id": "wvH8DFNyvReuRvUJ",
  "tags": []
}